.profile-friends-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 10px;
}

.profile-friends-container > * {
  flex: 1;
  max-width: 48%;
}
